.idea/
.phpunit/
.phpunit.cache/
build/
infection/
phpunit/
phpunit.cache/
vendor/
.phpunit.result.cache
composer.lock
infection.json5
phpstan.neon
phpunit.xml
tests/Unit/ManualTest.php
todo.txt
update-steps.txt
